* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    gap: 10px;
}

.panel {
    height: 450px;
    width: 60px;
    transition: 0.5s;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    border-radius: 30px;
    
}

.active {
    height: 450px;
    width: 450px;
}

@media (max-width: 650px) {
    .panel:nth-child(1),
    .panel:last-child {
        display: none;
    }
}